<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic Page Needs -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="author" content="" />
        
        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
		{# Add style sheets here #}
		<!-- build:css(.) styles/index/vendor.css -->
		<!-- bower:css -->
			<link href="{{ asset('bundles/insightidart/bower_components/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
		<!-- endbower -->
		<!-- endbuild -->
		
		<!-- build:css(.) styles/index/style.css -->
			<link href="{{ asset('bundles/insightidart/app/styles/base.css') }}" rel="stylesheet" type="text/css" />
		<!-- endbuild -->
	
	
		<!-- minified -->
		<!--<link href="{{ asset('bundles/insightidart/dist/styles/index/vendor.71c590b0.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('bundles/insightidart/dist/styles/index/style.858fd6ad.css') }}" rel="stylesheet" type="text/css" />-->

        <!-- Favicons -->
        <link rel="shortcut icon" href="{{ asset('bundles/insightidart/images/favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ asset('bundles/insightidart/images/portal-icon-32x32.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/insightidart/images/portal-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/insightidart/images/portal-icon-114x114.png') }}">
    </head>
    
	<body data-ng-app = "demoApp" data-ng-controller="MainCtrl">
		<div>Who's is watching {{ name }}!</div>
		<div><button type="button" id="hit" data-ng-click="displayAjaxResponse()" >Click me</button></div>
	</body>
	
	{# Add JS scripts sheets here #}
	<!-- build:js(.) scripts/index/vendor.js -->
    <!-- bower:js -->
		<script src="{{ asset('bundles/insightidart/app/scripts/thirdParty/router.js') }}"></script>
		<script src="{{ asset('bundles/insightidart/app/scripts/thirdParty/fos_js_routes.js') }}"></script>
		<script src="{{ asset('bundles/insightidart/bower_components/jquery/dist/jquery.min.js') }}"></script>
		<script src="{{ asset('bundles/insightidart/bower_components/angular/angular.js') }}"></script>
		<script src="{{ asset('bundles/insightidart/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
	<!-- endbower -->
    <!-- endbuild -->
	
	<!-- build:js(.) scripts/index/scripts.js -->
		<script src="{{ asset('bundles/insightidart/app/scripts/services/ServiceModule.js') }}"></script>
		<script src="{{ asset('bundles/insightidart/app/scripts/services/demoAjaxCall.js') }}"></script>		
		<script src="{{ asset('bundles/insightidart/app/scripts/app.js') }}"></script>		
		<script src="{{ asset('bundles/insightidart/app/scripts/controllers/main.js') }}"></script>			
	<!-- endbuild -->
	
	<!-- concat -->
	<!--<script src="{{ asset('bundles/insightidart/.tmp/concat/scripts/index/vendor.js') }}"></script>
	<script src="{{ asset('bundles/insightidart/.tmp/concat/scripts/index/scripts.js') }}"></script>-->
	
	<!-- uglify --> 
	<!--<script src="{{ asset('bundles/insightidart/dist/scripts/index/vendor.d4265355.js') }}"></script>
	<script src="{{ asset('bundles/insightidart/dist/scripts/index/scripts.b8b2d869.js') }}"></script>-->
</html>


